@CHARSET "UTF-8";

/*-----------------------------------------------------
  General Styles
-----------------------------------------------------*/
body {
	background-color: #eee;
	font-family: 'Helvetica-neue', sans-serif;
	font-weight: lighter;
	height: 100vh;
}

/*-----------------------------------------------------
  Navigation Bar
-----------------------------------------------------*/
.navbar-inverse {
    background-color: #205081; /*#252b58;*/
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e1e1e1;
}

.navbar-inverse .navbar-menu {
	font-size: 16px;
}


/*-----------------------------------------------------
  Content Area
-----------------------------------------------------*/
.content-area {
    padding: 80px 0px;
}

.visible-height {
	border: 1px solid #000;
    overflow-y:auto;
    height:100%;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}


/*-----------------------------------------------------
  Object Browser
-----------------------------------------------------*/
.browser-col {
	padding-right: 5px;
	padding-left: 5px;
}

.selected {
	background-color: #e9f4ff;
}

.panel {
	border-radius: 4px;
}

.panel-default {
	border-color: #838cad;
	/* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12) */;
}

.panel-default>.panel-heading {
    color: #205081;
    background-color: #adc9e4; /*#799ec3;*/
    border-color: #8891b1;
	font-weight: bold;
}

.panel-fixed {
	min-height: 220px;
	max-height: 220px;
	overflow-y: auto;
}

.panel-min-height {
	min-height: 620px;
	// max-height: 1000px;
	overflow-y: auto;
}

.panel-heading {
	padding: 5px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panel-body {
	padding: 0px;
}

.rm-btn-action {
	padding-top: 2px;
    padding-bottom: 2px;
	border-color: #9898a5;
	background-color: #f0f0f1;
	color: #585969;
}

.ion-android-download {
	font-size: large;
	padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ion-upload {
	font-size: large;
	padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


/*-----------------------------------------------------
  Content Form
-----------------------------------------------------*/

.content-panel {
    min-height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-panel-fixed {
	min-height: 220px;
	max-height: 220px;
	overflow-y: auto;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-tabs {
    margin-bottom: 20px;
}

.content-form {
	padding-left: 5px;
	padding-right: 5px;
}

label.control-label {
	font-weight: 400;
}

input.ng-dirty {
	background-color: #e9f4ff;
}

textarea.form-control {
  height: 100%;
}

textarea.ng-dirty {
	background-color: #e9f4ff;
}


/*-----------------------------------------------------
  Spinner & Overlay
-----------------------------------------------------*/

.bs-loading-container {
    position: relative;
    /*margin-top: 15px;*/
}


/*-----------------------------------------------------
  Model Dialogs
-----------------------------------------------------*/

.modal-header {
    background-color: #205081;
    color: #ffffff;
}

.modal-body {
	color: black;
}

/*-----------------------------------------------------
  Text Editor
-----------------------------------------------------*/
#edit-nav-tabs {
	// background-color: #f5f5f5;
	margin-bottom: 0px;
}

.nav-tabs>li.active>a {
	background-color: #f5f5f5;
}

.nav-tabs>li>a {
	border: 0px;
	border-top-color: white;
}

#text-edit {
	word-wrap: break-word; 
	white-space: pre-line;
	border-radius: 0px;
	border: 0px;
	margin-bottom: 0px;
}

#content-container {
	min-height: 100%;
    height: 100vh;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container.fill {
    min-height: 100%;
    height: 100vh;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

#text-edit-fill {
	height: 100vh;
	background-color: #f5f5f5;
}


.row-eq-height {
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

/*-----------------------------------------------------
  Texture Editor
-----------------------------------------------------*/
.tex-selector {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color:  #f5f5f5;
}

.img-box {
	width: 100%;
}

