<!DOCTYPE html>
<html ng-app="ARGameApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>AR-Game Admin Console</title>

<!-- Stylesheets & Fonts & Icons-->
<link href="./assets/css/bootstrap.min.css" rel="stylesheet">
<link href="./assets/css/argame.css" rel="stylesheet">
<link href="./assets/css/font-roboto-condensed.css" rel="stylesheet">
<link href="./assets/css/font-awesome.min.css" rel="stylesheet">
<link href="./assets/css/ionicons.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
<!-- AngularJS files -->
<script src="./webapp/shared/modules/angular.js" type="text/javascript"></script>
<script src="./webapp/shared/modules/angular-sanitize.js" type="text/javascript"></script>
<script src="./webapp/shared/directives/forms.js" type="text/javascript"></script>
<script src="./webapp/components/objects3D/objAdminController.js" type="text/javascript"></script>

<script src="https://rawgit.com/bsalex/angular-loading-overlay/master/dist/angular-loading-overlay.js"></script>
<script src="https://rawgit.com/bsalex/angular-loading-overlay-spinjs/master/dist/angular-loading-overlay-spinjs.js"></script>
<script src="https://rawgit.com/bsalex/angular-loading-overlay-http-interceptor/master/dist/angular-loading-overlay-http-interceptor.js"></script>

<!-- 3D Model Viewer (three) -->
<script src="./webapp/components/objects3D/three/three.js"></script>
<script src="./webapp/components/objects3D/three/Detector.js"></script>
<script src="./webapp/components/objects3D/three/OrbitControls.js"></script>
<script src="./webapp/components/objects3D/three/OBJLoader.js"></script>
<script src="./webapp/components/objects3D/three/MTLLoader.js"></script>
    
</head>

<body ng-controller="BrowserCtrl">

	<!-- Navigation Bar -------------------------------------------------------------------->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AR-Game</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse navbar-menu">
				<ul class="nav navbar-nav">
					<li><a href="#"><span class="glyphicon glyphicon-king"></span></a></li>
					<li><a href="admin-adventures.html">Adventures</a></li>
					<li class="active"><a href="#objects">Objects</a></li>
					<li><a href="admin-caches.html">Caches</a></li>
					<li><a href="admin-localisation.html">Localisation</a></li>
				</ul>
				<!-- 
				<div class="pull-right">
					<button type="button" class="btn btn-default">
						<span class="ion-upload"></span>
					</button>
					<button type="button" class="btn btn-default">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
				-->
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<!-- Content Area ----------------------------------------------------------------------->
	<div class="container-fluid full-height bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="pageBody">
		<div class="content-area">
			<!-- div class="container-fluid" -->

				<!-- Object 3D Browser ------------------------------------------------------>
				<!-- div class="row row-eq-height" --> 
				
					<div class="col-sm-4">
						<div class="panel panel-default full-height bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="objectPanel">
							<div class="panel-heading clearfix">
								3D Objects
							    <div class="pull-right">
							        <button type="button" ng-disabled="object3DSelIdx==-1" class="btn btn-default btn-sm rm-btn-action ion-minus" data-toggle="modal" data-target="#delObj3DModal" aria-hidden="true"></button>
							        <button type="button" class="btn btn-default btn-sm rm-btn-action ion-plus" data-toggle="modal" data-target="#newObj3DModal" aria-hidden="true"></button>

									<!-- Object3D Deletion Modal Dialog ---------------------------------------------->
									<div id="delObj3DModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Object Deletion</h4>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete the object with all files?</p>
													<form class="form-horizontal" action="">
														<input id="obj3DName" ng-disabled="true" type="text" class="form-control" value="{{object3DList[object3DSelIdx].name}}">
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-default btn-primary"
														data-dismiss="modal" ng-click="deleteObject3D(object3DList[object3DSelIdx])">Delete</button>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Object 3D Creation Modal Dialog ---------------------------------------------->
									<div id="newObj3DModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">3D Object Creation</h4>
												</div>
												<div class="modal-body">
													<p>Please enter an object name.</p>
													<form class="form-horizontal" action="">
														<input id="advNameInput" type="text" class="form-control" ng-model="dialogInput" autofocus>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-default btn-primary"
														data-dismiss="modal" ng-click="createNewObject3D(dialogInput)">Save</button>
												</div>
											</div>
										</div>
									</div>									
									
								</div>						
							</div>
							<div class="panel-body">
								<ul class="list-group">
									<li class="list-group-item" ng-repeat="obj in object3DList" 
																ng-cloak
																ng-click="setSelectedObject3D(obj)"
																ng-class="{selected: obj === selectedObject3D()}">
										{{obj.name}}
									</li>
								</ul>
							</div>
						</div>

					</div>  <!-- Panel -->
					
					<div class="col-sm-8 browser-col">
						<div class="panel panel-default full-height bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="attrPanel">
						
							<div class="panel-heading clearfix">
								Object Definition
								<div class="pull-right">
									<button type="button" ng-disabled="!isSelObject3DDirty() || activeTabName!='attr'" class="btn btn-default btn-sm rm-btn-action btn rm-btn-action ion-upload" ng-click="saveSelectedObject3D()" aria-hidden="true"></button>
							        <button type="button" ng-disabled="object3DSelIdx==-1 || activeTabName=='attr' || activeTabName=='3Dview'" class="btn btn-default btn-sm rm-btn-action btn rm-btn-action ion-minus" data-toggle="modal" data-target="#delObj3DModal" aria-hidden="true"></button>
							        <button type="button" ng-disabled="object3DSelIdx==-1 || activeTabName=='attr' || activeTabName=='3Dview'" class="btn btn-default btn-sm rm-btn-action btn rm-btn-action ion-android-download" data-toggle="modal" data-target="#delObj3DModal" aria-hidden="true"></button>
							        <button type="button" ng-disabled="object3DSelIdx==-1 || activeTabName=='attr' || activeTabName=='3Dview'" class="btn btn-default btn-sm rm-btn-action btn rm-btn-action ion-upload" data-toggle="modal" data-target="#fileUploadModal" aria-hidden="true"></button>
								</div>
								
								<!-- File Upload Modal Dialog ----------------------------------------------------->
								<div id="fileUploadModal" class="modal fade" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">File Upload</h4>
											</div>
											<div class="modal-body">
												<p>Please select the file to upload.</p>
												<form class="form-horizontal" action="" method="post">
													<input id="uploadFile" type="file" name="file" ng-model="selectedFile" autofocus/>
												</form>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default"
													data-dismiss="modal">Cancel</button>
												<button type="button" class="btn btn-default btn-primary"
													data-dismiss="modal" ng-click="uploadVisibleFile()">Upload</button>
											</div>
										</div>
									</div>
								</div>	
																
							</div>
							
							<div class="panel-body panel-min-height bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="formBody">
							
								<!-- Object Viewer header (Tabs) ------------------------------------------------------->
								<ul id="edit-nav-tabs" class="nav nav-tabs">
									<li ng-class="{active: activeTabName=='attr'}" ng-click="setActiveTab('attr')"><a>Object Attributes</a></li>
									<li ng-class="{active: activeTabName=='3Dview'}" ng-click="setActiveTab('3Dview')"><a>3D Viewer</a></li>
									<li ng-class="{active: activeTabName=='objfile'}" ng-click="setActiveTab('objfile')"><a>OBJ File</a></li>
									<li ng-class="{active: activeTabName=='mtlfile'}" ng-click="setActiveTab('mtlfile')"><a>MTL File</a></li>
	  								<li ng-class="{active: activeTabName=='texfile'}" ng-click="setActiveTab('texfile')"><a>TEX File</a></li>
	  							</ul>
	  							
	  							<!-- Object Viewer --------------------------------------------------------------------->
								<div id="content-container">
									<div class="panel-body content-panel" ng-if="activeTabName=='attr'" >
										<!-- Object Attributes -->
										<div id="form-edit" ng-if="activeTabName=='attr'">
											<rm-form form-model="formModel"></rm-form>
										</div>
									</div>
									
									<!-- Text Editor -->
									<pre id="text-edit" ng-cloak ng-if="activeTabName=='objfile' || activeTabName=='mtlfile'">
										{{visibleFile}}
									</pre>
									
									<!-- Texture image view -->
									<div ng-if="activeTabName=='texfile'">
										<form class="form-horizontal" action="">
											<!-- Dropdown menu for texture selector -->
											<div class="form-group tex-selector">
												<label class="control-label col-sm-2"> Texture </label>
												<div class="dropdown col-sm-9">
													<button class="btn btn-default dropdown-toggle" type="button" ng-cloak
														data-toggle="dropdown">
														{{selectedTex.name}}
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu">
														<li ng-repeat="texture in texFileList"><a href="#" ng-click="selectTexture(texture)" ng-cloak>{{texture.name}}</a></li>
													</ul>
												</div>
											</div>
											<!-- Texture image ------->
											<img class="img-box" ng-src="{{texImageURL}}">
										</form>
									</div>
									
									<div class="container fill" ng-if="activeTabName!='attr' && activeTabName!='3Dview'">
										<div id="text-edit-fill"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				<!-- /div --> 
				
			<!-- /div--> <!-- "container-fluid" -->
		</div>

	</div> <!-- "container-fluid" -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="./assets/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="./webapp/shared/patches/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
</body>

</html>