<!DOCTYPE html>
<html ng-app="ARGameApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>AR-Game Admin Console</title>

<!-- Stylesheets & Fonts & Icons-->
<link href="./assets/css/bootstrap.min.css" rel="stylesheet">
<link href="./assets/css/argame.css" rel="stylesheet">
<link href="./assets/css/font-roboto-condensed.css" rel="stylesheet">
<link href="./assets/css/font-awesome.min.css" rel="stylesheet">
<link href="./assets/css/ionicons.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
<!-- AngularJS files -->
<script src="./webapp/shared/modules/angular.js" type="text/javascript"></script>
<script src="./webapp/shared/modules/angular-sanitize.js" type="text/javascript"></script>
<script src="./webapp/components/caches/cacheAdminController.js" type="text/javascript"></script>
<script src="./webapp/shared/directives/forms.js" type="text/javascript"></script>
<script src="./webapp/shared/directives/fileUploadDialogs.js" type="text/javascript"></script>

<script src="https://rawgit.com/bsalex/angular-loading-overlay/master/dist/angular-loading-overlay.js"></script>
<script src="https://rawgit.com/bsalex/angular-loading-overlay-spinjs/master/dist/angular-loading-overlay-spinjs.js"></script>
<script src="https://rawgit.com/bsalex/angular-loading-overlay-http-interceptor/master/dist/angular-loading-overlay-http-interceptor.js"></script>
</head>

<body ng-controller="CacheCtrl as ctrl">
	<!-- Navigation Bar -------------------------------------------------------------------->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AR-Game</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse navbar-menu">
				<ul class="nav navbar-nav">
					<li><a href="#"><span class="glyphicon glyphicon-king"></span></a></li>
					<li><a href="admin-adventures.html">Adventures</a></li>
					<li><a href="admin-objects.html">Objects</a></li>
					<li class="active"><a href="#">Caches</a></li>
					<li><a href="#localisation">Localisation</a></li>
				</ul>
				<!-- 
				<div class="pull-right">
					<button type="button" class="btn btn-default">
						<span class="ion-upload"></span>
					</button>
					<button type="button" class="btn btn-default">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
				-->
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<!-- Content Area ---------------------------------------------------------------------->
	<div class="container-fluid bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="pageBody">
		<div class="content-area">
			<div class="container-fluid">

				<!-- Object Browser -------------------------------------------------------->
				<div class="row">
					<div class="col-sm-4 browser-col" >
						<div class="panel panel-default bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="cityPanel">
							<div class="panel-heading clearfix">
								Cities
							    <div class="pull-right">
							        <button type="button" ng-disabled="browserSelection[0]==null" class="btn btn-default btn-sm rm-btn-action ion-minus" data-toggle="modal" data-target="#delCityModal" aria-hidden="true"></button>
							        <button type="button" class="btn btn-default btn-sm rm-btn-action ion-plus" data-toggle="modal" data-target="#newCityModal" aria-hidden="true"></button>

									<!-- City Deletion Modal Dialog ---------------------------------------------->
									<div id="delCityModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">City Deletion</h4>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete the city with all caches?</p>
													<form class="form-horizontal" action="">
														<input id="cityName" ng-disabled="true" type="text" class="form-control" value="{{browserSelection[0].name}}">
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-default btn-primary"
														data-dismiss="modal" ng-click="deleteCity(browserSelection[0])">Delete</button>
												</div>
											</div>
										</div>
									</div>

									<!-- City Creation Modal Dialog ---------------------------------------------->
									<div id="newCityModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">City Creation</h4>
												</div>
												<div class="modal-body">
													<p>Please enter a city name.</p>
													<form class="form-horizontal" action="">
														<input id="cityNameInput" type="text" class="form-control" ng-model="dialogInput" autofocus>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-default btn-primary"
														data-dismiss="modal" ng-click="createNewCity(dialogInput)">Save</button>
												</div>
											</div>
										</div>
									</div>
									
								</div>						
							</div>
							<div class="panel-body panel-fixed">
								<ul class="list-group">
									<li class="list-group-item" ng-repeat="obj in browserList[0]" 
																ng-cloak
																ng-click="setBrowserSelection(0,obj)"
																ng-class="{selected: obj === browserSelection[0]}">
										{{obj.name}}
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-sm-4 browser-col">
						<div class="panel panel-default bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="cacheGroupPanel">
							<div class="panel-heading clearfix">
								Cache-Groups
							    <div class="pull-right">
							    	<!--  
							        <button type="button" ng-disabled="browserSelection[1]==null" class="btn btn-default btn-sm rm-btn-action fa fa-arrow-up" aria-hidden="true"></button>
							        <button type="button" ng-disabled="browserSelection[1]==null" class="btn btn-default btn-sm rm-btn-action fa fa-arrow-down" aria-hidden="true"></button>
							        -->
							        <button type="button" ng-disabled="browserSelection[1]==null" class="btn btn-default btn-sm rm-btn-action ion-minus" data-toggle="modal" data-target="#delCacheGroupModal"  aria-hidden="true"></button>
							        <button type="button" ng-disabled="browserSelection[0]==null" class="btn btn-default btn-sm rm-btn-action ion-plus" data-toggle="modal" data-target="#newCacheGroupModal" aria-hidden="true"></button>

									<!-- CacheGroup Deletion Modal Dialog ---------------------------------------------->
									<div id="delCacheGroupModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Cache-Group Deletion</h4>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete the cache-group with all caches?</p>
													<form class="form-horizontal" action="">
														<input id="cacheGroupName" ng-disabled="true" type="text" class="form-control" value="{{browserSelection[1].name}}">
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-default btn-primary"
														data-dismiss="modal" ng-click="deleteCacheGroup(browserSelection[1])">Delete</button>
												</div>
											</div>
										</div>
									</div>

									<!-- CacheGroup Creation Modal Dialog ---------------------------------------------->
									<div id="newCacheGroupModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Cache-Group Creation</h4>
												</div>
												<div class="modal-body">
													<p>Please enter a cache-group name.</p>
													<form class="form-horizontal" action="">
														<input id="cacheGroupNameInput" type="text" class="form-control" ng-model="dialogInput" autofocus>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-default btn-primary"
														data-dismiss="modal" ng-click="createNewCacheGroup(dialogInput)">Save</button>
												</div>
											</div>
										</div>
									</div>

							    </div>						
							</div>
							<div class="panel-body panel-fixed">
								<ul class="list-group">
									<li class="list-group-item" ng-repeat="obj in browserList[1]"
															    ng-cloak 
																ng-click="setBrowserSelection(1,obj)"
																ng-class="{selected: obj === browserSelection[1]}">
										{{obj.name}}
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-sm-4 browser-col">
						<div class="panel panel-default bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="cachePanel">
						
							<div class="panel-heading clearfix">
								Caches
							    <div class="pull-right">
							    	<!--  
							        <button type="button" ng-disabled="browserSelection[2]==null" class="btn btn-default btn-sm rm-btn-action fa fa-arrow-up" aria-hidden="true"></button>
							        <button type="button" ng-disabled="browserSelection[2]==null" class="btn btn-default btn-sm rm-btn-action fa fa-arrow-down" aria-hidden="true"></button>
							        -->
							        <button type="button" ng-disabled="browserSelection[2]==null" class="btn btn-default btn-sm rm-btn-action ion-minus" data-toggle="modal" data-target="#delCacheModal" aria-hidden="true"></button>
							        <button type="button" ng-disabled="browserSelection[1]==null" class="btn btn-default btn-sm rm-btn-action ion-plus" data-toggle="modal" data-target="#newCacheModal" aria-hidden="true"></button>

									<!-- Cache Deletion Modal Dialog ---------------------------------------------->
									<div id="delCacheModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Cache Deletion</h4>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete the cache?</p>
													<form class="form-horizontal" action="">
														<input id="cacheName" ng-disabled="true" type="text" class="form-control" value="{{browserSelection[2].name}}">
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-default btn-primary"
														data-dismiss="modal" ng-click="deleteCache(browserSelection[2])">Delete</button>
												</div>
											</div>
										</div>
									</div>

									<!-- Cache Creation Modal Dialog ---------------------------------------------->
									<div id="newCacheModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Cache Creation</h4>
												</div>
												<div class="modal-body">
													<p>Please enter a cache name.</p>
													<form class="form-horizontal" action="">
														<input id="cacheNameInput" type="text" class="form-control" ng-model="dialogInput" autofocus>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-default btn-primary"
														data-dismiss="modal" ng-click="createNewCache(dialogInput)">Create</button>
												</div>
											</div>
										</div>
									</div>
									
							    </div>						
							</div>
							<div class="panel-body panel-fixed">
								<ul class="list-group">
									<li class="list-group-item" ng-repeat="obj in browserList[2]"
									 							ng-cloak 
																ng-click="setBrowserSelection(2,obj)"
																ng-class="{selected: obj === browserSelection[2]}">
										{{obj.name}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Selection Content ------------------------------------------------------------------------>
					
				<div class="row content-form" >
					<div class="panel panel-default bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="formBody">
					
						<div class="panel-heading clearfix">
							<span>{{selectedObjectType()}}</span>
						    <div class="pull-right">
						        <button ng-if="activeTabName=='attr'" type="button" ng-disabled="!isFormDirty()" ng-click="saveSelectedObject()" class="btn rm-btn-action ion-upload" aria-hidden="true"></button>
							    <button ng-if="activeTabName!='attr'" type="button" ng-disabled="" class="btn btn-default btn-sm rm-btn-action btn rm-btn-action ion-upload" data-toggle="modal" data-target="#fileUploadModal" aria-hidden="true"></button>
						    </div>	
						    
						    <div id="fileUploadModal" class="modal fade" role="dialog">
						    	<rm-file-upload-dialog upload-dialog-model="uploadDialogModel"></rm-file-upload-dialog>
						    </div>				
						</div>
						
						<div class="panel-body content-panel">
							<!-- Tabs -->
							<ul id="" class="nav nav-tabs">
								<li ng-class="{active: activeTabName=='attr'}" ng-click="setActiveTab('attr')"><a>{{selectedObjectType()}} Attributes</a></li>
								<li ng-class="{active: activeTabName=='xmlfile'}" ng-if="selectedObjectType()=='CacheGroup'" ng-click="setActiveTab('xmlfile')"><a>Target Images XML File</a></li>
								<li ng-class="{active: activeTabName=='datfile'}" ng-if="selectedObjectType()=='CacheGroup'" ng-click="setActiveTab('datfile')"><a>Target Images DAT File</a></li>
								<li ng-class="{active: activeTabName=='targetImgfile'}" ng-if="selectedObjectType()=='Cache'" ng-click="setActiveTab('targetImgfile')"><a>Target Image</a></li>
	 							</ul>
	 							
							<!-- Attribute Form -->
							<div id="form-edit" ng-if="activeTabName=='attr'">
								<rm-form form-model="formModel"></rm-form>
							</div>

							<!-- Text Editor -->
							<pre id="text-edit" ng-cloak ng-if="activeTabName=='xmlfile' || activeTabName=='datfile'">
								{{visibleFile}}
							</pre>
	
							<!-- Target Image Viewer ------->
							<div id="image-view" ng-cloak ng-if="activeTabName=='targetImgfile'">
								<img class="img-box" ng-src="{{targetImageURL}}">
							</div>
						</div>
						
					</div>
				</div>
					
			</div>
			<!-- Container -->
		</div>

	</div>
	<!-- container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="./assets/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="./webapp/shared/patches/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
</body>

</html>