@CHARSET "UTF-8";

/*-----------------------------------------------------
  General Styles
-----------------------------------------------------*/
body {
	background-color: #e4dada;
	font-family: 'Roboto Condensed', sans-serif;
}

/*-----------------------------------------------------
  Navigation Bar
-----------------------------------------------------*/
.navbar-inverse {
    background-color: #700;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e1e1e1;
}

.navbar-inverse .navbar-menu {
	font-size: 16px;
}


/*-----------------------------------------------------
  Content Area
-----------------------------------------------------*/
.content-area {
    padding: 80px 0px;
}


/*-----------------------------------------------------
  Object Browser
-----------------------------------------------------*/
.browser-col {
	padding-right: 5px;
	padding-left: 5px;
}

.selected {
	background-color: #d9daff;
}

.panel-default {
	border-color: #767b8e;
}

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #606186;
    border-color: #3b4573;
}

.panel-fixed {
	min-height: 220px;
	max-height: 220px;
	overflow-y: auto;
}

.panel-body {
	padding: 0px;
}

.rm-btn-action {
	border-color: #d2d2d2;
	background-color: #4f4f6f;
	color: #d2d2d2;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


/*-----------------------------------------------------
  Content Form
-----------------------------------------------------*/

.content-panel {
    min-height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-tabs {
    margin-bottom: 20px;
}

.content-form {
	padding-left: 5px;
	padding-right: 5px;
}

textarea.form-control {
  height: 100%;
}

textarea.ng-dirty {
	background-color: #d9daff;
}

